In [444]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import datetime
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/transactions/transactions.csv
/kaggle/input/customer-demograhic/customer_demographic.csv
/kaggle/input/customer-address/customer_address.csv

***Sprocket Central Pty Ltd , a medium size bikes & cycling accessories organisation***

Primarily, Sprocket Central Pty Ltd needs help with its customer and transactions data. The organisation has a large dataset relating to its customers, but their team is unsure how to effectively analyse it to help optimise its marketing strategy. 
The client provided KPMG with 3 datasets:

Customer Demographic, 
Customer Addresses,
Transactions data in the past 3 months

In [445]:
df1=pd.read_csv('/kaggle/input/customer-demograhic/customer_demographic.csv')
df2=pd.read_csv('/kaggle/input/customer-address/customer_address.csv')
df3=pd.read_csv('/kaggle/input/transactions/transactions.csv')

In [446]:
df1.shape

(4000, 256)

In [447]:
df2.shape

(3999, 256)

In [448]:
df3.shape

(20000, 256)

In [449]:
df3.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size',
       ...
       'Unnamed: 246', 'Unnamed: 247', 'Unnamed: 248', 'Unnamed: 249',
       'Unnamed: 250', 'Unnamed: 251', 'Unnamed: 252', 'Unnamed: 253',
       'Unnamed: 254', 'Unnamed: 255'],
      dtype='object', length=256)

In [450]:
merged_df = pd.merge(df1, df2, on='customer_id')

# Perform the second join
merged_df = pd.merge(merged_df, df3, on='customer_id')

In [451]:
merged_df.shape

(19968, 766)

In [452]:
columns_to_keep = ['customer_id', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
    'job_industry_category', 'wealth_segment', 'deceased_indicator','owns_car','tenure','address','postcode','state','property_valuation','transaction_id', 'product_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size','list_price','standard_cost','product_first_sold_date']
merged_df = merged_df[columns_to_keep]

In [453]:
merged_df.columns

Index(['customer_id', 'gender', 'past_3_years_bike_related_purchases', 'DOB',
       'job_title', 'job_industry_category', 'wealth_segment',
       'deceased_indicator', 'owns_car', 'tenure', 'address', 'postcode',
       'state', 'property_valuation', 'transaction_id', 'product_id',
       'transaction_date', 'online_order', 'order_status', 'brand',
       'product_line', 'product_class', 'product_size', 'list_price',
       'standard_cost', 'product_first_sold_date'],
      dtype='object')

In [455]:
#create new column age
# Convert 'DOB' column to datetime format
merged_df['DOB'] = pd.to_datetime(merged_df['DOB'], format='%Y-%m-%d')

# Calculate age based on the current year
current_year = datetime.datetime.now().year
merged_df['age'] = current_year - merged_df['DOB'].dt.year

In [456]:
#create column transaction month
merged_df['transaction_date'] = pd.to_datetime(merged_df['transaction_date'],format='%d-%m-%Y')
merged_df['month_of_transaction']=merged_df['transaction_date'].dt.month

In [457]:
merged_df['standard_cost']=merged_df['standard_cost'].str.replace('$','', regex=False).str.replace(',', '', regex=False).astype(float)

merged_df['profit']=merged_df['list_price']-merged_df['standard_cost']

In [454]:
merged_df.head(20)

,customer_id,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,owns_car,tenure,...,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,...,23-12-2017,False,Approved,OHM Cycles,Standard,medium,medium,235.63,$125.07,10-05-2005
1,1,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,...,06-04-2017,True,Approved,Solex,Standard,medium,medium,1577.53,$826.51,19-03-2008
2,1,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,...,11-05-2017,True,Approved,Trek Bicycles,Road,low,small,1720.70,"$1,531.42",21-07-2003
3,1,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,...,05-01-2017,False,Approved,Norco Bicycles,Standard,medium,medium,360.40,$270.30,09-09-2003
4,1,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,...,21-02-2017,False,Approved,Solex,Standard,medium,medium,71.49,$53.62,09-08-2005
5,1,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,...,19-05-2017,False,Approved,Giant Bicycles,Road,medium,medium,1538.99,$829.65,10-11-1991
6,1,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,...,27-03-2017,False,Approved,Norco Bicycles,Mountain,low,small,688.63,$612.88,05-08-1991
7,1,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,...,14-12-2017,True,Approved,Giant Bicycles,Standard,medium,medium,230.91,$173.18,22-03-2002
8,1,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,...,04-06-2017,True,Approved,Giant Bicycles,Standard,medium,medium,642.70,$211.37,16-03-2011
9,1,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,...,09-12-2017,True,Approved,OHM Cycles,Road,medium,medium,742.54,$667.40,05-08-2003
10,1,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,Yes,11.0,...,29-03-2017,True,Approved,Giant Bicycles,Standard,high,medium,1274.93,$764.96,09-11-1996
11,2,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0,...,04-05-2017,True,Approved,Giant Bicycles,Standard,medium,medium,1403.50,$954.82,29-08-2011
12,2,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0,...,11-06-2017,False,Approved,WeareA2B,Standard,medium,medium,752.64,$205.36,07-08-2004
13,2,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,Yes,16.0,...,24-08-2017,False,Approved,WeareA2B,Standard,medium,medium,1992.93,$762.63,22-03-2002
14,4,Male,33,1961-10-03,NaN,IT,Mass Customer,N,No,7.0,...,03-04-2017,False,Approved,Giant Bicycles,Standard,medium,large,569.56,$528.43,10-09-2003
15,4,Male,33,1961-10-03,NaN,IT,Mass Customer,N,No,7.0,...,18-06-2017,True,Approved,Solex,Standard,medium,medium,478.16,$298.72,23-06-1993
16,5,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0,...,16-08-2017,False,Approved,Norco Bicycles,Road,high,large,774.53,$464.72,19-03-2008
17,5,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0,...,03-03-2017,True,Approved,Norco Bicycles,Mountain,low,small,688.63,$612.88,02-10-1993
18,5,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0,...,03-05-2017,False,Approved,Trek Bicycles,Road,medium,medium,290.62,$215.14,05-01-2003
19,5,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,Yes,8.0,...,14-12-2017,False,Approved,Giant Bicycles,Standard,medium,large,1812.75,$582.48,19-03-2008

In [458]:
merged_df.isna().sum()

customer_id                               0
gender                                    0
past_3_years_bike_related_purchases       0
DOB                                     446
job_title                              2379
job_industry_category                  3222
wealth_segment                            0
deceased_indicator                        0
owns_car                                  0
tenure                                  446
address                                   0
postcode                                  0
state                                     0
property_valuation                        0
transaction_id                            0
product_id                                0
transaction_date                          0
online_order                            359
order_status                              0
brand                                   195
product_line                            195
product_class                           195
product_size                            195
list_price                                0
standard_cost                           195
product_first_sold_date                 195
age                                     446
month_of_transaction                      0
profit                                  195
dtype: int64

In [460]:
merged_df = merged_df.loc[merged_df['brand'].notnull()]

In [461]:
merged_df.isna().sum()

customer_id                              0
gender                                   0
past_3_years_bike_related_purchases      0
DOB                                      0
job_title                                0
job_industry_category                    0
wealth_segment                           0
deceased_indicator                       0
owns_car                                 0
tenure                                   0
address                                  0
postcode                                 0
state                                    0
property_valuation                       0
transaction_id                           0
product_id                               0
transaction_date                         0
online_order                             0
order_status                             0
brand                                    0
product_line                             0
product_class                            0
product_size                             0
list_price                               0
standard_cost                            0
product_first_sold_date                  0
age                                    438
month_of_transaction                     0
profit                                   0
dtype: int64

In [462]:
merged_df['online_order'].value_counts()

True         9729
False        9687
not_known     357
Name: online_order, dtype: int64

In [463]:
#converting inconsitent data
merged_df.loc[merged_df['gender'] == 'F', 'gender'] = 'Female'
merged_df.loc[merged_df['gender'] == 'M', 'gender'] = 'Male'
merged_df.loc[merged_df['gender'] == 'Femal', 'gender'] = 'Female'
merged_df.loc[merged_df['gender'] == 'U', 'gender'] = 'others/not_known'

In [ ]:
merged_df.head()

In [465]:
merged_df.to_excel('merged_data.xlsx', index=False)